// define the colors going to be used
$primary-color : #333;
$primary-color-2: #fff;
$color-variation-1 : #ccf;
$color-variation-2 : #555;
$color-variation-3 : #777;
$color-variation-4 : #000;
$color-variation-5 : #111;
$color-variation-6 : #ddf;
$color-variation-7 : #aaf;

// fonts and sizes
$base-font-family : 'Courier New', Courier, monospace;
$base-font-size : 10px;
$base-font-weight : normal;
$base-object-width : 80%;
$base-transition : 0.5s;
$base-border-size : 1px;
$base-border-radius : 1px;
$base-box-radius : 10%;
$zero : 0;
